<div class="">

    <div class="sectionMargin listText bg-blue white o-50"><a href="mailto:arthur1cross@gmail.com"
            class="link dim white">arthur1cross@gmail.com</a></div>
    <div class="sectionMargin listText bg-blue white o-50"><a href="https://www.instagram.com/spinnynights/"
            class="link dim white">@spinnynights</a></div>

    <div class="sectionMargin pb2 listText">
        <p class="bg-blue white o-50">Design and development by <a href="https://www.repetitionpress.com/"
                class="link dim white">Repetition Press</a><br>© Copyrights <span id="year"></span> by Arthur Cross. All
            rights reserved.</p>
    </div>


</div>