<div class="">

    <div class="sectionMargin headingLight">Contact<br><a href="" class="normallink dim">email@email.com</a></div>

    <div class="sectionMargin pt2 pb2">
        <p>© Copyrights <span id="year"></span> by Arthur Cross. All rights reserved.</p>
    </div>


</div>