<div class="sectionMargin pt4 pb4">
  <div class="parent pt1">
    <div class="div1 headingLight">Arthur Cross<br>Writer and Label co-owner</div>
    <div class="div2 headingLight">Contact<br><a href="">email@email.com</a></div>
  </div>
</div>