<div class="sectionMargin">
  <div class="header-div">
    <div class="headingLight dib"><a href="/index" class="normallink dim arthurLink">Arthur Cross</a><br>Writer and Label co-owner</div>
  </div>
</div>