<div class="sectionMargin pt4 pb4">
  <div class="pt1">
    <div class="headingLight dib"><a href="/index" class="normallink dim arthurLink">Arthur Cross</a><br>Writer and Label co-owner</div>
  </div>
</div>