html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: Univers Bold Condensed;
    src: url('/assets/fonts/UniversLTPro-BoldCond.woff2') format('woff2');
    font-display: swap;
    font-weight: bold;
}

@font-face {
    font-family: Univers Condensed;
    src: url('/assets/fonts/UniversLTPro-Condensed.woff2') format('woff2');
    font-display: swap;
    font-weight: normal;
}


body {
    font-family: Univers Condensed, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    line-height: 18px;
}


.content-flexbox {
    height: 100vh;
}


td {
    /* height: 50px; */
    vertical-align: top;
}


.listTitle {
    font-family: Univers Bold Condensed;
}

.headingLight {
    font-family: Univers Condensed;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.listText {
    font-family: Univers Condensed;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}


button {
    font-family: Univers Bold Condensed;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    padding-top: 3px;
}

.tableDescription {
    display: inline-block;
}

.sectionMargin {
    margin-left: 24px;
    margin-right: 24px;
}




.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-content: start;
    position: relative;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
    justify-self: end;
}

.div4 {
    grid-area: 1 / 4 / 3 / 5;
    justify-self: end;
    /* position:fixed; */
}

.div5 {
    grid-area: 1 / 5 / 2 / 6;
    justify-self: end;
}

.div6 {
    grid-area: 2 / 1 / 3 / 4;
}





@media (max-width: 1000px) {
    .tableDescription {
        display: none;
    }

    .sectionMargin {
        margin-left: 16px;
        margin-right: 16px;
    }

}