html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: Univers Bold Condensed;
    src: url('/assets/fonts/UniversLTPro-BoldCond.woff2') format('woff2');
    font-display: swap;
    font-weight: bold;
}

@font-face {
    font-family: Univers Condensed;
    src: url('/assets/fonts/UniversLTPro-Condensed.woff2') format('woff2');
    font-display: swap;
    font-weight: normal;
}


body {
    font-family: Univers Condensed, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    line-height: 18px;
    opacity: 0;
    color: #677589;
}

h1 {
    font-family: Univers Bold Condensed;
    font-weight: bold;
    font-size: 2em;
    line-height: 32px;
    margin: 0;
}

h2 {
    font-family: Univers Bold Condensed;
    font-weight: bold;
    padding-top: 24px;
    line-height: 24px;
}

h3 {
    font-family: Univers Bold Condensed;
    font-weight: bold;
    padding-top: 16px;
    line-height: 20px;
}

strong {
    font-family: Univers Bold Condensed;
    font-weight: bold;
  }

em {
    font-style: italic;
  }


.project-body {
    background-color: #ffffff;
}

canvas {
    width: 100vw;
    height: 100vh;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    z-index: -100;
}

img {
    content-visibility: auto;
}

.project-list-img img {
    display: block;
    object-fit: cover;
}

#hidden-info {
    display: none;
    /* display: block; */
}

.normallink {
    text-decoration: none;
    color: #677589;
}

.content-flexbox {
    height: 100dvh;
}


td {
    /* height: 50px; */
    vertical-align: top;
}


.listTitle {
    font-family: Univers Bold Condensed;
}

.headingLight {
    font-family: Univers Bold Condensed;
    font-weight: bold;
    font-size: 72px;
    line-height: 100%;
    letter-spacing: -0.2px;
}

.listText {
    font-family: Univers Condensed;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}


button {
    height: 26px;
    font-family: Univers Bold Condensed;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    padding: 3px 5px;
    outline: none;
    letter-spacing: -0.2px;

}



.project-list-img {
    width: 140px;
    height: 140px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.7;
    mix-blend-mode: multiply;
    /* mix-blend-mode: screen; */
    /* mix-blend-mode: overlay; */
}

.home-project-div:hover .project-list-img {
    -webkit-filter: none;
    filter: none;
    opacity: 0.9;
    /* transition: opacity 0.2s;
    transition: filter 0.2s;
    transition: -webkit-filter 0.2s; */
}

.sectionMargin {
    margin-left: 24px;
    margin-right: 24px;
}

.home-project-div {
    /* background-color: aqua; */
}

.home-project-div:hover {
    background-color: #ffffff;
    /* transition: background-color 0.2s; */
}

.home-grid-end {
    display: flex;
    flex-direction: row;
    width: 400px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: relative;
    width: 100%;
    grid-auto-rows: min-content;
    margin-right: 9em;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    /* background-color:coral; */
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
    /* background-color:coral; */
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
    /* background-color:cadetblue; */
    justify-self: end;
}

.div4 {
    grid-area: 2 / 1 / 3 / 4;
    padding-top: 8px;
}

.project-title {
    /* padding-top: 80px; */
    margin-top: 80px;
}

.home-header-div {
    padding-top: 200px;
}


.header-div {
    margin-top: 80px;
    margin-bottom: 24px;
}


.info-button {
    font-size: 30px;
    vertical-align:top;
    color: #677589;
    cursor: pointer;
    line-height: 43px;
    /* display: inline; */
}




@media (max-width: 1000px) {
    .sectionMargin {
        margin-left: 16px;
        margin-right: 16px;
    }


    .parent {
        display: grid;
        margin-right: 2em;
    }

    

}



@media (max-width: 740px) {

    .listTitle {
        font-size: 24px;
        padding-bottom: 8px;
    }

    .listDescription {
        font-size: 18px;
        line-height: 20px;
        padding-bottom: 12px;
    }

    .headingLight {
        font-size: 40px;
    }

    .info-button {
        font-size: 28px;
        vertical-align:middle;
        color: #677589;
        cursor: pointer;
        line-height: auto;
        /* display: inline; */
    }

    .home-project-div:hover {
        background-color: #ffffffda;
        /* transition: background-color 0.2s; */
    }

    .home-project-div {
        padding-bottom: 40px;
        padding-top: 32px;
        padding-left: 24px;
        padding-right: 24px;
        background-color: #ffffff;
        border-radius: 16px;
    }

    .project-list-img {
        -webkit-filter: none;
        filter: none;
        opacity: 0.8;
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 4;
        /* background-color:coral; */
    }

    .div2 {
        grid-area: 2 / 1 / 2 / 4;
        /* background-color:coral; */
        padding-top: 4px;
    }

    .div3 {
        grid-area: 3 / 1 / 3 / 4;
        /* background-color:cadetblue; */
        justify-self: auto;
        padding-top: 4px;
    }

    .div4 {
        grid-area: 4 / 1 / 4 / 4;
        padding-top: 12px;

    }
}


@media (max-width: 600px) {

    .header-div {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .project-list-button {
        width: 100%;
        height: 40px;
        font-size: 20px;
    }

    .project-list-img {
        width: 100%;
        height: auto;
    }

    .headingLight {
        font-size: 28px;
    }

    .home-project-div {
        padding-bottom: 40px;
        padding-top: 32px;
        padding-left: 16px;
        padding-right: 16px;
        background-color: #ffffff;
        border-radius: 16px;
    }

    canvas {
        display: none !important;
    }

    body {
        background-color: #E4EDF5;
    }

    .home-header-div {
        padding-top: 8px;
    }

    .home-project-div {
        padding-bottom: 24px;
        flex-direction: column;
        /* border-bottom: 1px; */
    }

    .home-grid-end {
        display: flex;
        flex-direction: column;
        width: auto;
        padding-top: 12px;
        row-gap: 12px;
        position: relative;
    }


    .home-project-div {
        background-color: #ffffffda;
    }

}