---
title: Arthur Cross
description: Writer and Label co-owner
layout: 'layouts/home.njk'
---


<!-- Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
<a href="/contact">Contact page</a>

{% for project in collections.project %}
    <a href="{{ project.url }}">
        <img src="{{ project.data.image }}">
            <h2>
                {{ project.data.title }}</h2>
        </a>
        <p>{{ project.data.description }}</p>
    {% endfor %}  -->

    <div class="arthur3d-div">
        <model-viewer class="arthur3d-model" loading="eager" rotation-per-second="5deg" camera-orbit="300deg 55deg 2m" auto-rotate id="model"  alt="" src="/assets/images/arthur3d.glb" shadow-intensity="1"></model-viewer>
    </div>

<div class="sectionMargin pb4">
    {% for project in collections.project | reverse %}

    <div class="flex justify-between home-project-div mt3">

        <div class="parent projectItemList">
            <div class="div1 listTitle">{{ project.data.title }}</div>
            <div class="div2 listTitle">{{ project.data.tag }}</div>
            <div class="div3 listTitle">{{ project.data.date | postDate }}</div>
            <div class="div4 mw7">{{ project.data.description }}</div>
        </div>
        <div class="home-grid-end flex justify-between">
            <div class="project-list-img"><img src="{{ project.data.image }}" alt="" height=auto width=auto></div>
            <div class=""><button onclick="window.location.href='{{ project.url }}';"">Open</button></div>
        </div>

    </div>

    {% endfor %}
</div>
